/* Classes */
.App {
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

/* IDs */

#main-page {
  background: #CACACA;
}

#welcome-page {
  background: #ffff;
}