// Required
@import "~bootstrap/scss/functions";

// Override default variables
// (To see what variables we can override, look at the _variables.scss file at: node_modules/bootstrap/scss/_variables.scss)
$primary: #EC4038;
$line-height-base: 1.25;
$grid-gutter-width: 1.25rem;

// Contrast ratio was reduced so that white text would be used over the primary color
$min-contrast-ratio: 3.9;

// Make background of components pure white insead of a very light gray (e.g., navbar)
$light: white;

// Make hamburger menu use the primary color
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

// Change popup menu width
$offcanvas-horizontal-width: 220px;

// Make all bootstrap element have very rounded corners by default
$border-radius: 20px;
$modal-content-border-radius: $border-radius;

// Import Bootstrap (all except "~bootstrap/scss/grid" since it causes parsing error during npm build)

// scss-docs-start import-stack
// Configuration
// @import "~bootstrap/scss/functions"; // Already imported above
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack
