/* Logo */
#navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

/* Separator line */
#navbar .basic-navbar-nav {
    border-left: 3px solid black;
    width: 100%;
}

/* Page links */
#nav-link-container .nav-link {
    border-radius: 20px;
    margin-left: 10px;
    width: 115px;
    text-align: center;
}
#nav-link-container .nav-link.active {
    font-weight: bold;
}
#nav-link-container .nav-link:hover {
    background-color: var(--bs-gray-300);
}
#nav-link-container .dropdown-menu {
    border-radius: 0.25rem;
}

/* Rounded corners */
#navbar {
    border-radius: 0 0 20px 20px;
}

/* Elipsis dropdown override */
#basic-nav-dropdown.nav-link {
    width: fit-content;
    padding: 0.35rem 1rem;
}
#basic-nav-dropdown svg {
    width: 2rem;
    height: 2rem;
}
#basic-nav-dropdown::after {
    display: none;
}

/* Make the hamburger menu use our primary color */
#navbar.navbar-light button.navbar-toggler {
    color: var(--bs-primary);
}
/* Remove gray outline of hamburger menu */
#navbar.navbar-light button.navbar-toggler {
    border-color: transparent;
}

/* Hide navbar elements when hamburger menu is shown (i.e., on small screens) */
@media screen and (max-width: 576px) {
    #navbar .basic-navbar-nav {
        display: none;
    }
}

/* Remove margin for links in the popup menu */
#offcanvasNavbar .nav-link {
    margin-left: 0px;
}