/* Global */

* {
    font-family: Tahoma, sans-serif;
}

/* Tags */

label {
    padding-left: 0px;
    padding-right: 0px;
}

/* Classes */

.terms-conditions {
    padding-bottom: 75px;
    white-space: pre-wrap;
}

.i-agree {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    object-fit: contain;
    padding-bottom: 35px;
}

.clickable {
    cursor: pointer;
}

.f-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.f-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.grey {
    color: #A09F9F;
}

/* IDs */

#terms-conditions-link {
    color: var(--bs-primary);
    text-decoration: underline;
}