/* Global */

* {
    font-family: Tahoma, sans-serif;
}

/* Tags */

label {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    color: #EC4038 !important;
}

/* Classes */

.terms-conditions {
    padding-bottom: 75px;
    white-space: pre-wrap;
    color: black;
    font-size: 20px;
}

.i-agree {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    color: rgb(12, 0, 0);
    font-size: 20px;
}

.home-page {
    color: black;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    height: auto;
    padding-bottom: 35px;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
    color: #EC4038;
}

/* IDs */

#enter-btn, #close-btn {
    font-size: 20px;
    background-color: #EC4038;
    border-color: #EC4038;
}

#terms-conditions-link {
    cursor:pointer;
    color:#EC4038;
     text-decoration:underline;
}

#agree-checkbox:checked {
    outline: none;
    background-color:#EC4038;
    border-color: #333333;
}

#agree-checkbox:active,
#agree-checkbox:focus,
#agree-checkbox:before {
    outline: none;
    border-color: #333333;
    box-shadow: 0px 2px 2px #EC4038;
}
