/* Tags */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ID's */
#outer-container {
    padding: 20px;
    width: 1080px;
    height: 850px;
    background: #ffff;
    border-radius: 20px;
}

#main-container {
    display: flex;
    padding: 0px;
}

#profile {
    padding: 0px;
    width: 90px;
    height: 138px;
}

#avatar {
    width: 100%;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

#user-name {
    width: 90px;
    height: 38px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

#post {
    padding: 0px;
    width: 940px;
}

#post-data {
    display: flex;
    padding: 0px;
    text-align: left;
}

#post-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#post-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 184px;
}

#title-section {
    width: 100%;
    height: 21px;
}

#post-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 5px;
    text-align: left;
}

#post-date {
    position: relative;
    top: -21px;
    font-weight: 200;
    font-size: 16px;
    line-height: 5px;
    text-align: right;
    color: #4e4e4e;
}

#post-body {
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
}

#tag-container {
    display: flex;
    align-items: center;
    height: 23px;
}

#tags {
    padding: 2px 5px;
    margin-right: 10px;
    border: 1px solid #EC4038;
    border-radius: 10px;
    font-size: 15px;
    line-height: 19px;
}

#post-location {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 313px;
    height: 217px;
}

#map {
    width: 313px;
    overflow: hidden;
    border-radius: 3%;
}


#map-description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#post-image {
    border-radius: 1.5%;
    height: 590px;
}

/* For screens that are 1200px or less */
@media only screen and (max-width: 1200px) {
    #post-data{
        flex-direction: column;
    }

    #map {
        margin-top: 30px;
    }

    #post-image {
        width: 70%;
        border-radius: 1.5%;
        object-fit: scale-down;
        margin: -12%;
    }

    #post {
        width: 100%;
        height: 800px;
        justify-content: center;
    }
}

/* For screens that are 990px or less */
@media only screen and (max-width: 990px) {
    #tag-container {
        margin-top: 5px;
    }

    #post-image {
        margin: -180px;
    }

    #outer-container {
        height: 700px;
    }
}

/* For screens that are 765px or less */
@media only screen and (max-width: 767px) {
    #tag-container {
        margin-top: 30px;
    }

    #post-image {
        margin: -200px;
    }
}