/* Tags */
img {
    width: 100%;
    height: 100%;
    border-radius: 1.5%;
    object-fit: cover;
}

/* ID's */
#outer-container {
    padding: 20px;
    width: 1080px;
    max-height: 850px;
    background: #ffff;
    border-radius: 20px;
}

#profile {
    width: 100px;
}

#avatar {
    width: 90px;
    max-height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

#user-name {
    height: 38px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px;
    overflow-wrap: break-word;
    hyphens: auto;
    color: #000000;
}

#post {
    padding: 0px;
    width: 940px;
}

#post-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    max-width: 607px;
    width: 100%;
}

#title-section {
    width: 100%;
    height: 21px;
}

#post-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 5px;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: left;
}

#post-date {
    position: relative;
    bottom: 21px;
    padding-right: auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 5px;
    text-align: right;
    color: #4e4e4e;
}

#post-body {
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
    --body-height: height;
}

#tag-container {
    display: flex;
    align-items: center;
    height: 23px;
    align-self: left;
    padding-bottom: 20px;
}

#tag-container-sm {
    display: none;
}

#tags {
    padding: 2px 5px;
    margin-right: 10px;
    border: 1px solid #EC4038;
    border-radius: 10px;
    font-size: 15px;
    line-height: 19px;
}

#post-location {
    padding-left: 0px;
    padding-right: 5px;
    width: 313px;
    height: 217px;
}

#map-description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#post-image-container {
    width: 940px;
    height: 573px;
    padding-right: 15px;
}

/* For screens that are 1200px or less */
@media screen and (max-width: 1200px) {
    #map {
        height: 100%;
    }

    #post-location {
        display: flex;
        padding-right: 10px;
        flex-direction: column;
        height: var(--body-height);
    }

    #profile {
        max-width: 15%;
    }

    #post-description {
        max-width: 500px;
    }

    #post-image-container {
        width: 100%;
        height: 100%;
        border-radius: 1.5%;
    }
}

/* For screens that are 992px or less */
@media only screen and (max-width: 992px) {
    #profile {
        max-width: 18%;
    }

    #post-description {
        width: 60%;
    }

    #post-location {
        width: 40%;
        height: var(--body-height);
    }

    #outer-container {
        height: 100%;
    }
}

/* For screens that are 768px or less */
@media only screen and (max-width: 768px) {
    #outer-container {
        width: 100%;
    }

    #post-date {
        text-align: left;
        padding-top: 10%;
    }

    #post-body {
        padding-top: 9%;
    }

    #post-location {
        height: var(--body-height);
        padding-bottom: 25px;
        width: 45%;
    }

    #post-description {
        padding-left: 20px;
        width: 55%;
    }

    #profile {
        max-width: 25%;
    }
}

/* For screens that are 576px or less */
@media only screen and (max-width: 576px) {
    #outer-container {
        width: 50%;
    }

    #post-location {
        height: var(--body-height);
        width: 50%;
    }

    #post-description {
        padding-left: 10px;
        width: 50%;
    }

    #post-image-container {
        width: 100%;
    }
}

/* For screens that are 450px or less (For Phone Browsers)*/
@media screen and (max-width: 450px) {
    #post-location {
        width: 90%;
        height: 200px;
    }

    #outer-container {
        width: 40%;
    }

    #post-description {
        width: 100%;
    }

    #avatar {
        width: 100%;
        height: 8%;
    }

    #profile {
        max-width: 20%;
    }

    #post-date {
        padding-top: 7%;
    }

    #tag-container-sm {   
        display: flex;
        align-items: center;
        height: 23px;
        align-self: left;
    }

    #tag-container {
        display: none;
    }
}