/* Tags */
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* ID's */
#outer-container {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1080px;
    height: 100%;
    background: #ffff;
    border-radius: 20px;
}

#profile {
    width: 100px;
}

#avatar {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
}

#user-name {
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px;
    overflow-wrap: break-word;
    hyphens: auto;
}

#post {
    padding: 0px;
    width: 940px;
}

#post-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    max-width: 607px;
    width: 100%;
}

#title-section {
    width: 100%;
    height: 21px;
}

#post-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 5px;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: left;
}

#post-date {
    position: relative;
    bottom: 21px;
    font-weight: 200;
    font-size: 16px;
    line-height: 5px;
    text-align: right;
    color: #4e4e4e;
}

#post-body {
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
    --body-height: height;
}

#tag-container {
    display: flex;
    align-items: center;
    height: 23px;
    align-self: left;
    padding-bottom: 20px;
}

#tag-container-sm {
    display: none;
}

#tags {
    padding: 2px 5px;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
    font-size: 15px;
    line-height: 19px;
}

#post-location {
    padding-left: 0px;
    padding-right: 5px;
    width: 313px;
    height: 217px;
}

#map-description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#post-image-container {
    width: 940px;
    height: 573px;
    padding-right: 15px;
}

/* For screens that are 1200px or less */
@media screen and (max-width: 1200px) {
    #map {
        height: 100%;
    }

    #post-location {
        display: flex;
        padding-right: 10px;
        flex-direction: column;
        height: var(--body-height);
    }

    #profile {
        max-width: 120px;
    }

    #post-description {
        max-width: 500px;
    }

    #post-image-container {
        width: 100%;
        height: 100%;
    }
}

/* For screens that are 992px or less */
@media only screen and (max-width: 992px) {
    #post-description {
        width: 60%;
    }

    #post-location {
        width: 40%;
        height: var(--body-height);
    }

    #outer-container {
        height: 100%;
        background: rgb(14, 211, 113);
    }
}

/* For screens that are 768px or less */
@media only screen and (max-width: 768px) {
    #outer-container {
        width: 100%;
        height: 100%;
        background: red;
    }

    #post-date {
        text-align: left;
        padding-top: 18px;
    }

    #post-body {
        padding-top: 20px;
    }

    #post-location {
        height: var(--body-height);
        padding-bottom: 25px;
        width: 45%;
    }

    #post-description {
        padding-left: 20px;
        width: 55%;
    }

    #avatar {
        width: 80px;
        height: 80px;
    }

    #profile {
        max-width: 100px;
    }
}

/* For screens that are 576px or less */
@media only screen and (max-width: 576px) {
    #outer-container {
        width: 50%;
        background: rgb(0, 26, 255);
    }

    #post-location {
        height: var(--body-height);
        width: 50%;
    }

    #post-description {
        padding-left: 10px;
        width: 50%;
    }

    #post-image-container {
        width: 100%;
    }

    #avatar {
        width: 70px;
        height: 70px;
    }
}

/* For screens that are 450px or less (For Phone Browsers)*/
@media screen and (max-width: 480px) {
    #post-location {
        width: 90%;
        height: 200px;
    }

    #outer-container {
        width: 40%;
        background: rgb(234, 0, 255);
    }

    #post-description {
        width: 100%;
    }

    #tag-container-sm {   
        display: flex;
        align-items: center;
        height: 23px;
        align-self: left;
    }

    #tag-container {
        display: none;
    }
}