/* Tags */
.post-body img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* Classes */

.avatar-column {
    width: 90px;
    justify-content: space-between;
}
.avatar {
    width: 90px;
    border-radius: 50px;
    overflow: hidden;
    object-fit: cover;
}

.flagged {
    align-self: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.flagged .symbol {
    height: 50px;
    width: 50px;
    position: relative;
    display: block;
    border-radius: 50%;
    z-index: 2;
}

.custom-tooltip {
    color: white;
}

.flagged .custom-tooltip {
    position: absolute;
    left: 0px;
    width: 900%;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.aleat-symbol {
    color: var(--bs-primary);
}

.flagged:hover .custom-tooltip {
    left: 60px;
    opacity: 1;
    pointer-events: auto;
}

.flagged:hover .custom-tooltip,
.flagged:hover .custom-tooltip::before {
    background: var(--bs-primary);
}

.flagged:hover .symbol {
    background: var(--bs-primary);
}

.flagged:hover .symbol .aleat-symbol {
    color: #fff;
}

.user-name {
    /* Allow breaking names to fit in the avatar column */
    overflow-wrap: break-word;
    hyphens: auto;
    margin-top: 15px;
}

.post-description {
    display: flex;
    flex-direction: column;
    width: 70%; /* Take 70% of post width, leaving 30% for map */
}

.title-section {
    /* Make the title & date stay at opposite ends */
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0 10px;
}

.post-title {
    font-weight: bold;
    overflow-wrap: break-word;
    hyphens: auto;
}

.post-body {
    /* Keep extra whitespace inside the description of the post (e.g., newlines) */
    white-space: pre-wrap;
    width: 100%;
}

.tag-container {
    /* Allow tags to wrap to a new line */
    flex-wrap: wrap;
    gap: 5px;
}

.tag-container button.tag {
    padding: 0px 6px;
}

.image-button {
    padding: 0px;
    border: none;
}

.post-location {
    width: 30%; /* Take 30% of post width, leaving 70% for body */
    max-height: 30vh;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post-image {
    max-height: 50vh;
    justify-content: center;
}

/* For screens that are 768px or less */
@media (max-width: 768px) {
    .avatar {
        /* Reduce avatar size on small screens */
        width: 80px;
        height: 80px;
    }
    .avatar-column {
        width: 80px;
    }
}

/* For screens that are 576px or less */
@media (max-width: 576px) {
    div.outer-container {
        /* Reduce padding around the overall post on smaller screens */
        padding: 10px;
    }

    .avatar {
        /* Reduce avatar size on smaller screens (even more) */
        width: 70px;
        height: 70px;
    }
    .avatar-column {
        width: 70px;
    }

    .flagged .custom-tooltip {
        /* Reduce tooltip text size */
        width: 500%;
    }
}

/* For screens that are 450px or less (For Phone Browsers)*/
@media (max-width: 480px) {

    /* Switch the map to be below post body on small screens (mobile) */
    .post-content { flex-direction: column; }
    .post-description { width: 100%; }
    .post-location { width: 100%; }
}